{
    "importOrder": [
        "^../(.*)$",
        "^./(.*)$",
        "^core/(.*)$",
        "^assets/(.*)$",
        "^(modules|components)/(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "tabWidth": 4,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "max_line_length": 130,
    "printWidth": 130,
    "bracketSpacing": true
}
