@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.progress {
    font-size: 17px;
}

.progressContent {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 11px;
        height: 4px;
        width: calc(100% - 20px);
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--secondary);
    }
}

.progressContentColumn {
    &::before {
        width: 4px;
        height: calc(100% - 20px);
        transform: translateY(-50%);
        left: 11px;
        top: 50%;
    }
}

.progressStatus {
    margin: 0 auto;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    background-color: var(--white);
    border: 4px solid var(--secondary);
    border-radius: 50%;
}

.progressStatusColumn {
    margin: 0;
}

.progressItem {
    position: relative;
    z-index: 3;

    &:last-child {
        .progressStatus {
            align-self: flex-end;
            margin: 0 0 0 auto;
        }
    }

    &:first-child {
        .progressStatus {
            margin: 0;
        }
    }
}

.progressItemColumn {
    & + & {
        margin-top: 45px;
    }

    &:last-child {
        .progressStatus {
            align-self: unset;
            margin: unset;
        }
    }
}

.progressStatusCurrent {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 5px;
        width: 7px;
        height: 7px;
        background-color: var(--green);
        border-radius: 50%;
    }
}

.progressStatusComplete {
    background-color: var(--secondary);
}
